main#car-details {
    min-height: 92vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "ci rl"
        "wi os";
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 10rem 20rem;
}

main#car-details section.car-info {
    grid-area: ci;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clr-light);
    border-radius: 1rem;
    padding-left: 5rem;
}

main#car-details .car-info img {
    border-radius: 1rem;
    box-shadow: 2px 2px 5px var(--clr-dark);
    max-height: 8rem;
    width: auto;
}

main#car-details section.rental-locations {
    grid-area: rl;
    border: 1px solid var(--clr-light);
    border-radius: 1rem;
}

main#car-details section.what-is-included {
    grid-area: wi;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    border: 1px solid var(--clr-light);
    border-radius: 1rem;
    padding-left: 5rem;
}

main#car-details section.what-is-included div.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

main#car-details section.what-is-included ul {
    list-style: none;
    line-height: 2rem;
    font-weight: bold;
    text-decoration: underline;
}

main#car-details section.what-is-included li {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}


main#car-details section.order-summary {
    grid-area: os;
    border: 1px solid var(--clr-light);
    border-radius: 1rem;
}