div.car-item {
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
    color: var(--clr-dark);
    background-color: var(--clr-lighter);
    box-shadow: 4px 4px 20px var(--clr-light);
    padding: 1rem 1rem;
}

div.car-item img {
    border: 1px solid var(--clr-light);
}