section.car-info-wrapper{
    grid-area: ci;
}

section.car-info-wrapper {
    grid-area: ci;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 4px 4px 20px var(--clr-light);
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 3rem;
}

@media screen and (max-width: 400px) {
    section.car-info-wrapper {
        padding-left: 1rem;
    }
}