main#car-list {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 4rem 3rem;
}

main#car-list div.underline {
    background-color: var(--clr-light);
    height: 1px;
    width: 50%;
}

main#car-list section.cars {
    flex: 4;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}