div.car-offer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
}

div.car-offer div.price {
    width: 100%;
}

div.car-offer p {
    text-align: end;
    font-size: 0.8rem;
}

div.car-offer h3 {
    width: 100%;
    text-align: end;
    text-decoration: underline;
}

div.car-offer button.btn.animated-btn {
    margin: 0;
}