div.choices {
    grid-area: dc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid var(--clr-light);
    border-radius: 1rem;
}

div.choices h2 {
    text-align: center;
}

div.choices div.info {
    text-align: justify;
    font-style: italic;
    font-size: 0.6rem;
}

div.choices div.days {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.choices div.choice {
    flex: 1;
    width: 1rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.choices div.choice:hover {
    cursor: pointer;
}

div.choices div.choice.chosen {
    background-color: var(--clr-light);
    border-radius: 1rem;
    font-weight: bold;
}