footer {
    height: 93px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-weight: bold;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    list-style: none;
}

footer li,
footer p {
    transition-property: color;
    transition-duration: var(--duration-short);
    transition-timing-function: ease-in-out;
    text-decoration: none;
}

footer li:hover,
footer p:hover {
    cursor: pointer;
    color: var(--clr-highlight);
}
