header {
    height: 8vh;
    padding: 15px 40px;
    background-color: var(--clr-dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--clr-light);
    font-weight: bold;
}

header span {
    color: var(--clr-highlight);
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem
}

header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--clr-light);
}

header .link {
    transition-property: color;
    transition-duration: var(--duration-short);
    transition-timing-function: ease-in-out;
}

header .link:hover {
    cursor: pointer;
    color: var(--clr-highlight);
}

@media screen and (max-width: 400px) {
    header {
        justify-content: space-between;
    }
}