header {
    height: 8vh;
    padding: 15px 40px;
    background-color: var(--clr-dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--clr-light);
    font-weight: bold;
}

header span {
    color: var(--clr-highlight);
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem
}

header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--clr-light);
}

header .link {
    transition-property: color;
    transition-duration: var(--duration-short);
    transition-timing-function: ease-in-out;
}

header .link:hover {
    cursor: pointer;
    color: var(--clr-highlight);
}

header #account-button {
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    transition-property: background-color, color, border-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

header #account-button:hover {
    cursor: pointer;
    background-color: var(--clr-highlight);
    color: var(--clr-dark);
    border-color: var(--clr-dark)
}

@media screen and (max-width: 400px) {
    header {
        justify-content: space-between;
    }
}