section.rental-locations {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-area: rl;
    border: 1px solid var(--clr-light);
    border-radius: 1rem;
    padding: 1rem;
}

section.rental-locations div.locations {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

section.rental-locations div.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

section.rental-locations div.graph div.line {
    height: 2rem;
    width: 1px;
    background-color: var(--clr-dark);
    border-radius: 1rem;
}

section.rental-locations .addresses {
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
}

section.rental-locations .pickup,
section.rental-locations .return {
    font-weight: bold;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}