button.simple {
    padding: 1rem 1rem;
    width: 5rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px var(--clr-light);
}

button.simple:hover {
    cursor: pointer;
}