main {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.header {
    height:200px;
    flex: 1 1;
}

.header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .content h1 {
    margin: 30px 0;
}

.header .content p {
    margin-bottom: 50px;
}

.filters {
    height: 50px;
    flex: 1 0 50px;
}

.filters .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.car-list {
    flex: 4 0;
    width: 100%;
}