.hero {
    width: 100%;
    background: url('../assets/images/landing-hero-bg.jpg') no-repeat center center/cover;
    position: relative;
    height: 100vh;
}

.hero .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .content .service-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #def3f6;
    height: 200px;
    width: 50%;
    padding: 20px 80px;
    text-align: center;
    border-radius: 20px;
    font-weight: 800;
}

.hero .content .service-info h1 {
    margin-bottom: 20px;
    font-weight: 800;
}

.hero .content .service-info button {
    margin-top: 40px;
}

.hero .content .service-info button a {
    text-decoration: none;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: -10;
}

.hero {
    z-index: 10;
}

/* instruction */
.instruction {
    width: 100%;
    height: 100vh;
    background: url('../assets/images/landing-instruction-bg.jpg') no-repeat center center/cover;
    position: relative;
    z-index: 10;
}

.instruction::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: -10;
}

.instruction .content .section-heading {
    margin-bottom: 40px;
    font-size: 3rem;
    color: #eee;
}

.instruction .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.instruction .content .row {
    width: 100%;
    padding: 30px 0px;
    display: flex;
}

.instruction .content .row-1 {
    align-items: center;
    justify-content: space-around;
}

.instruction .content .row-2 {
    align-items: center;
    justify-content: center;
}

.instruction .content .tile {
    background-color: #eee;
    opacity: 0.85;
    border: 1px solid #999;
    border-radius: 20px;
    width: 400px;
    height: 100%;
    text-align: center;
}

.instruction .content .tile:hover {
    opacity: 1;
    background-color: #fff;
}

.instruction .content .tile hr {
    width: 60%;
    margin: auto;
    color: #999;
    opacity: 0.5;
}

.instruction .tile h1 {
    padding: 40px 20px;
}

.instruction .tile h4 {
    padding: 25px 40px;
}