.btn {
    padding: 10px 15px;
    background-color: #A8DADC;
    border-radius: 7px;
    border: none;
}

.btn a {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
}

.btn a:hover {
    color: #000;
}

.btn:hover {opacity: 0.8;}