<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/util.css">
    <link rel="stylesheet" href="css/car-list.css">
    <script src="https://kit.fontawesome.com/f18ef82c54.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet"> 
    <link href='https://css.gg/instagram.css' rel='stylesheet'>
    <link href='https://css.gg/twitter.css' rel='stylesheet'>
    <link href='https://css.gg/facebook.css' rel='stylesheet'>
    <link href='https://css.gg/youtube.css' rel='stylesheet'> 
    <title>MotoRent - Cars</title>
</head>
<body>
    <header>
        <div class="content">
            <div class="logo company-name">
                <h1><span><i class="fa-solid fa-car-side"></i>Moto</span>Rent</h1>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Cars</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <button class="btn">
                    <a href="">Sign Up</a> 
                </button>
            </nav>
        </div>
    </header>
    <main>
        <div class="header main-header">
            <div class="content">
                <h1>Our Cars</h1>
                <p>Choose from over 10 world class manufacturers. Make the most convenient choice by checking the avaiability of your car. Bill is too high? Try setting price bounds to be less hard on your wallet.</p>
            </div>
        </div>
        <div class="filters">
            <div class="content">
                <button class="btn-filter">
                    Order <i class="fa-solid fa-angle-down"></i>
                </button>
                <button class="btn-filter">
                    Price <i class="fa-solid fa-angle-down"></i>
                </button>
                <button class="btn-filter">
                    Manufacturer <i class="fa-solid fa-angle-down"></i>
                </button>
                <button class="btn-filter">
                    Availability <i class="fa-solid fa-angle-down"></i>
                </button>
            </div>
        </div>
        <div class="car-list">
            <div class="content">

            </div>
        </div>
    </main>
</body>
</html>