<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/util.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/f18ef82c54.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <title>AUTO RENTALS</title>
</head>
<body>
    <header>
        <div class="content">
            <div class="logo company-name">
                <h1><span><i class="fa-solid fa-car-side"></i>Moto</span>Rent</h1>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Cars</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <button class="btn">
                    <a href="">Sign Up</a> 
                </button>
            </nav>
        </div>
    </header>

    <div class="hero">
        <div class="content">
            <div class="service-info">
                <h1>Why choose Us?</h2>
                <p>We offer wide range of cars suited for your needs.</p>
                <p>All available just few clicks away from you</p>
                <button class="btn"><a href="">Read More</a></button>
            </div>
        </div>
    </div>

    <div class="instruction">
        <div class="content">
            <div class="row-1 row">
                <div class="tile tile-1">
                    <h1>1. Register</h1>
                    <hr>
                    <h4>Create an accout and fill in the required personal information. Don't worry, we make sure it's safe.</h2>
                </div>
                <div class="tile tile-2">
                    <h1>2. Choose a car</h1>
                    <hr>
                    <h4>Make a choice that suits your needs. Choose the pickup as well as return date and location. Make sure to read our terms and conditions.</h4>
                </div>
            </div>
            <div class="row-2 row">
                <div class="tile tile-3">
                    <h1>3. Enjoy the ride</h1>
                    <hr>
                    <h4>Feel free to use the car as much as you want, as long as you take care of it. No limits or hidden fees.</h4>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>